.menuPost {
  display: block;
  color: #404040;
  background-color: white;
}

.backButton {
  margin: 10px 0 10px 10px;
}

:global .content figure {
    width: inherit !important;
    height: inherit !important;
}

:global .content img {
    width: inherit !important;
    height: inherit !important;
}

/* Legend under the images */
:global .wp-caption-text {
  text-align: center;
  padding-bottom: 1em;
  font-size: 13px;
}

/* Center images */
:global div.content.is-medium figure {
  text-align: center;
}

/* Youtube videos */
:global iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: inherit;
    height: inherit;
}
