.menuPost {
  display: block;
  color: #404040;
  padding: 1em;
  background-color: white;
}

:global .content figure {
    width: inherit !important;
    height: inherit !important;
}

:global .content img {
    width: inherit !important;
    height: inherit !important;
}
